<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Auto.Bindings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

    <!--Environment URL's
    "https://bowser.adslot.com/"
    "https://encantadia.adslot.com/"
    "https://haides.adslot.com/"
    "https://hogwarts.adslot.com/"
    "https://hyrule.adslot.com/"
    "https://symphony.facilitatedigital.com/"
    "https://symphony.facilitatedigital.eu/"
    "https://symphony.facilitatedigital.us/"
    "https://localhost:44335/"
    "https://matrix.adslot.com/"
    "https://mordor.adslot.com/"
    "https://narnia.adslot.com/"
    "https://optimus.adslot.com/"
    "https://saigon.adslot.com/" },
    "https://uat.facilitatedigital.com/"
    "https://uat-eu.adslot.com/"
    "https://publisher-demo.adslot.com/"
    "https://publisher-beta.adslot.com/"
    "https://publisher.adslot.com/"-->

    <appSettings>
        <add key="EnvironmentScope" value="ENCANTADIA" />
        <add key="EnvironmentUrl" value="https://encantadia.adslot.com/" />
        <add key="AdslotPublisherUrl" value="https://publisher-demo.adslot.com/" />
        <add key="IdentityServerUrl" value="https://encantadia-id.adslot.com/" />
        <add key="PublicApiUrl" value="https://encantadia-api.adslot.com/" />
        <add key="Browser" value="Chrome" />
        <add key="ImplicitWaitTimeout" value="7" />
        <add key="PageLoadTimeout" value="60" />
        <add key="InventoryProvider" value="ADSLOTDEMO" />
        <add key="Headless" value="false" />
        <add key="IsRemoteWebDriver" value="false" />
        <add key="HubHostProtocol" value="http" />
        <add key="HubHost" value="localhost" />
        <add key="HubPort" value="4444" />
  </appSettings>

  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
	<unitTestProvider name="NUnit" />
    <runtime missingOrPendingStepsOutcome="Error" />
    <stepAssemblies>
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
      https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
      <stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies>
  </specFlow>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 
</configuration>